In [2]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\mazah\anaconda3\lib\site-packages (0.21.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\mazah\anaconda3\lib\site-packages (from mlxtend) (1.3.4)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\mazah\anaconda3\lib\site-packages (from mlxtend) (3.4.3)
Requirement already satisfied: joblib>=0.13.2 in c:\users\mazah\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\mazah\anaconda3\lib\site-packages (from mlxtend) (1.1.2)
Requirement already satisfied: setuptools in c:\users\mazah\anaconda3\lib\site-packages (from mlxtend) (58.0.4)
Requirement already satisfied: scipy>=1.2.1 in c:\users\mazah\anaconda3\lib\site-packages (from mlxtend) (1.7.1)
Requirement already satisfied: numpy>=1.16.2 in c:\users\mazah\anaconda3\lib\site-packages (from mlxtend) (1.20.3)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\mazah\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\mazah\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pillow>=6.2.0 in c:\users\mazah\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (8.4.0)
Requirement already satisfied: cycler>=0.10 in c:\users\mazah\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.10.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\mazah\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: six in c:\users\mazah\anaconda3\lib\site-packages (from cycler>=0.10->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: pytz>=2017.3 in c:\users\mazah\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\mazah\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Note: you may need to restart the kernel to use updated packages.

In [1]:
from pathlib import Path
import heapq
from collections import defaultdict
import pandas as pd
import matplotlib.pylab as plt
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [2]:
fp_df = pd.read_csv('cosmetics.csv')
fp_df.set_index('Trns_#', inplace=True)
fp_df

        Bag  Blush  Nail_Polish  Brushes  Concealer  Eyebrow_Pencils  Bronzer
Trns_#
1         0      1            1        1          1                0        1
2         0      0            1        0          1                0        1
3         0      1            0        0          1                1        1
4         0      0            1        1          1                0        1
5         0      1            0        0          1                0        1
6         0      0            0        0          1                0        0
7         0      1            1        1          1                0        1
8         0      0            1        1          0                0        1
9         0      0            0        0          1                0        0
10        1      1            1        1          0                0        0
11        0      0            1        0          0                0        1
12        0      0            1        1          1                0        1

In [3]:
itemsets = apriori(fp_df, min_support=0.5, use_colnames=True)
itemsets

C:\Users\mazah\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

    support                itemsets
0  0.666667           (Nail_Polish)
1  0.500000               (Brushes)
2  0.750000             (Concealer)
3  0.750000               (Bronzer)
4  0.500000  (Brushes, Nail_Polish)
5  0.583333  (Bronzer, Nail_Polish)
6  0.583333    (Bronzer, Concealer)

In [4]:
rules = association_rules(itemsets, metric='confidence', min_threshold=0.5)
rules.sort_values(by=['lift'], ascending=False).head(6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Brushes),(Nail_Polish),0.500000,0.666667,0.500000,1.000000,1.500000,0.166667,inf
1,(Nail_Polish),(Brushes),0.666667,0.500000,0.500000,0.750000,1.500000,0.166667,2.000
2,(Bronzer),(Nail_Polish),0.750000,0.666667,0.583333,0.777778,1.166667,0.083333,1.500
3,(Nail_Polish),(Bronzer),0.666667,0.750000,0.583333,0.875000,1.166667,0.083333,2.000
4,(Bronzer),(Concealer),0.750000,0.750000,0.583333,0.777778,1.037037,0.020833,1.125
5,(Concealer),(Bronzer),0.750000,0.750000,0.583333,0.777778,1.037037,0.020833,1.125

In [5]:
print(rules.sort_values(by=['lift'], ascending=False).drop(columns=['antecedent support', 'consequent support', 'conviction'])
.head(6))

     antecedents    consequents   support  confidence      lift  leverage
0      (Brushes)  (Nail_Polish)  0.500000    1.000000  1.500000  0.166667
1  (Nail_Polish)      (Brushes)  0.500000    0.750000  1.500000  0.166667
2      (Bronzer)  (Nail_Polish)  0.583333    0.777778  1.166667  0.083333
3  (Nail_Polish)      (Bronzer)  0.583333    0.875000  1.166667  0.083333
4      (Bronzer)    (Concealer)  0.583333    0.777778  1.037037  0.020833
5    (Concealer)      (Bronzer)  0.583333    0.777778  1.037037  0.020833

In [6]:
rules[[len(c) == 1 for c in rules.consequents]].sort_values(by=['lift'],
ascending=False).head(6)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Brushes),(Nail_Polish),0.500000,0.666667,0.500000,1.000000,1.500000,0.166667,inf
1,(Nail_Polish),(Brushes),0.666667,0.500000,0.500000,0.750000,1.500000,0.166667,2.000
2,(Bronzer),(Nail_Polish),0.750000,0.666667,0.583333,0.777778,1.166667,0.083333,1.500
3,(Nail_Polish),(Bronzer),0.666667,0.750000,0.583333,0.875000,1.166667,0.083333,2.000
4,(Bronzer),(Concealer),0.750000,0.750000,0.583333,0.777778,1.037037,0.020833,1.125
5,(Concealer),(Bronzer),0.750000,0.750000,0.583333,0.777778,1.037037,0.020833,1.125